<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="loan">
            <h2><span>Loan</span> {{loan.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Loan Id</span></dt>
                <dd>
                    <span>{{loan.loanId}}</span>
                </dd>
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{loan.startDate}}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{loan.endDate}}</span>
                </dd>
                <dt><span>Principal</span></dt>
                <dd>
                    <span>{{loan.principal}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{loan.amount}}</span>
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    <div *ngIf="loan.customerId">
                        <a [routerLink]="['/customer', loan.customerId, 'view']">{{loan.customerId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/loan', loan.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
